@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

.head-section {
    max-width: 1200px;
    margin: 0px auto;
    border: 2px solid white;
    display: flex;
}

.nav-container {

    min-height: 20px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 50%;
}

.nav-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.item-container {
    border: 2px solid white;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-container .special1 a {
    display: flex;
    align-items: center;
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FF5400;

}

.section1 {
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 40px;

}

.section1-text1 {
    position: absolute;
    display: flex;
    text-align: center;
    color: white;
    font-size: 64px;
    margin-top: -180px;
}

.section1-text2 {
    position: absolute;
    display: flex;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: -100px;
}

.selection-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    align-items: center;

}

.selection-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-left: 40px;
    margin-top: 100px;
}

.selection-menu-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    padding: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;

}

.primary-btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn1-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/*section 2 start */

.section2 {
    margin-top: 100px;
    padding: 30px;
    display: grid;
    justify-self: center;
    justify-content: center;
}

.section2-content {
    display: flex;
}

.section2-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section2-text {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    max-width: 600px;
}

.btn2 {
    margin-top: 30px;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

/*section 2 ends */


/*section 3 start */

.section3 {
    margin-top: 80px;
}

.section3-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section3-text {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.collum {
    border: 4px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.photo {
    margin: 5px;
}


/*section 3 ends */


.section4-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section4-text {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

/*section 4 start */

.section4 {
    margin-top: 80px;
    border: 5px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

}

.card-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-text {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.section4-collum {
    display: flex;
    justify-content: center;
}

.card1 {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin: 10px;
}

.card2 {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin: 10px;
}

/*section 4 end */



/*section 5 start */

.section5-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.section5-container img {
    width: 800px;
    margin-left: 50px;
}

.section5-container text {
    min-height: 600px;
    max-width: 200px;
}

.newsletter {
    display: grid;
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-top: 60px;
    padding-left: 80px;
}

.section5-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section5-text {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section5-hr-line {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.section5-input {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.section5-btn {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

footer {
    border: 5px solid white;
    margin: 0px auto;
}

.footer {
    position: relative;
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container {
    display: grid;
}

.footer-heading {
    margin-top: 100px;
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.logo {
    display: grid;
}

.footer-logo {
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
}

.logo-design {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-text {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.icons {
    display: flex;
    margin-top: 50px;
    margin-left: 625px;
}

.footer-hr-line {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-left: 300px;
    margin-top: 100px;
}

.copyryt {
    margin-top: 100px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .head-section {
        flex-direction: column;
        justify-content: center;
    }

    .nav-container {
        min-height: 20px;
        display: flex;
        align-items: center;
        border: 2px solid white;
        width: 100%;
        justify-content: center;
    }

    .item-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .selection-menu {
        margin-left: 0;
        margin-top: 20px;
    }

    .footer-logo {
        margin-left: 0;
    }

    .icons {
        margin-left: 0;
    }

    .section1-text1 {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        margin-top: -400px;
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section1-text2 {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-45%, -45%);
    }



    .selection-menu {

        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        flex-direction: column;
        margin-top: 150px;

    }

    .section2 {
        margin-top: 100px;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .section2-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2-content img {
        width: 335px;
        height: 342px;
        flex-shrink: 0;

    }

    .section2-text {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        max-width: 600px;

    }

    .btn2 {
        margin-top: 30px;
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: #FFF;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        text-align: center;
    }


    .section3-heading {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 100px;
    }

    .section3 {
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .section3-text {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: #131318;

        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 50px;

    }

    .collum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: -100px;
    }

    .collum img {
        width: 335px;
        height: 176px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

    }

    .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section4 {
        display: flex;
        flex-direction: column;
    }

    .card1 {
        width: 335px;
        height: 289px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .card2 {
        width: 335px;
        height: 289px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .section4-collum {
        flex-direction: column;
    }

    .section5 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .section5-container {
        flex-direction: column;
    }

    .newsletter {
        width: 335px;
        height: 353px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid #FF5400;
    }

    .section5-input {
        width: 288px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
    }

    .section5-btn {
        width: 288px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
    }

    .section5-heading {
        text-align: left;
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section5-text {
        text-align: left;
        padding-right: 60px;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

    }

    .section5-hr-line {
        width: 288px;
        height: 1px;
        background: rgba(19, 19, 24, 0.10);
    }

    .section5 img {
        margin-top: 50px;
        width: 335px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 16px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .footer {
        width: 375px;
        height: 309px;
        flex-shrink: 0;
        background: rgba(19, 19, 24, 0.05);
    }

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer img {
        margin-top: -40px;
        margin-left: 100px;
        width: 174.322px;
        height: 24px;
        flex-shrink: 0;
    }

    .footer-hr-line {
        width: 335px;
        height: 1px;
        background: rgba(19, 19, 24, 0.10);
        margin-top: -45px;
        margin-left: 18px;
    }

    .copyryt {
        margin-top: 30px;
        color: #131318;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}